/* color : #fef4f5 */
.socialmedia {
    width: 60px;
    height: 60px;
}
.texd{
    opacity: 0;
    transition: all 0.5s;
}.texd:hover{
    opacity: 0.9;
}
.Icons-X {
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0rem;
}

.expressHeight {
    height: 200px;
}

.fixed {
    position: fixed;
}
.postion {
    position: relative;
}

.socialmedia:hover {
    background-color: #ffc400e1;
    transition: all .5s ease-in-out;
}

.width20 {
    width: 20%;
}

.width70 {
    width: 65%;
}

.widthhund {
    width: 100%;
}

.BOX_BOX {
    width: 100px;
    height: 100px;
}

.Input.BackgroundHome.addingOne.des-weight.des.borderonex.bordernone:focus {
    color: #fef4f5
}

.height {
    width: 100%;
    height: 200px;
}

.Input {
    width: 100%;
    height: 60px;
}

.list-style {
    text-decoration: none;
}

.list-style:hover {
    color: #ffc400e1;
}

.rate {
    width: 100%;
    height: 100px;
}

.skillswidth {
    width: 100px;
}

.skills {
    width: 50px;
    height: 50px;
}

.CotainerIcom {
    width: 40px;
    height: 40px;
}

.fontFamily {
    font-family: 'Roboto', sans-serif;
}


.NavBarTrasition:hover {
    transition: all .5s ease-in-out;
    border-bottom: 3px solid #ffc400e1;

}

.text-align {
    text-align: center;
}
.marginTopx {
    margin-top: 3rem;
}
.margintopten {
    margin-top: 5rem;
}

.marginbottom {
    margin-bottom: 2rem;
}

.Card {
    margin: 0.5rem 1rem;
}

.FirstFont {
    font-size: 40px;
    font-weight: 600;
}
.notSize {
    font-size: 40px;
}
.Title {
    font-size: 20px;
    font-weight: bold;
}


.des-weight {
    font-weight: 500;
}


.Letter.Title::first-letter {
    color: #ffc400e1;
    font-size: 60px;
}

.allcolor {
    color: #ffc400e1;
}

.blackcolor {
    color: black
}

.descolor {
    color: #6b7688
}

.white {
    color: white
}

.marginLeft {
    margin-left: 0.4rem;
}

.marginLeftfive {
    margin-left: 2rem;
}
.margin-right{
    margin-right: 2rem;
}
.header {
    font-size: 20px;
}

.des {
    font-size: 15px;
}

.Background {
    background-color: #f3f7fa;

}

.BackgroundHome {
    background-color: #edf2f8;
}

.BackgroundWhite {
    background-color: white;
}

.BackgroundSkills {
    background-color: #fef4f5;
}

.button {
    background-color: #ffc400e1
}

.align-items {
    align-items: center;
}

li {
    list-style-type: none;
    cursor: pointer;
    font-size: 16px;
}

li::first-letter {
    /* color : #ffc400e1; */
    font-size: 18px;
}

li:hover {
    background-color: 'red';
}

ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cursor {
    cursor: pointer;
}

.line {
    line-height: 0.5;
}

.overflow {
    overflow: hidden;
}

.text-transform {
    text-transform: capitalize;
}

.padding {
    padding: 2rem;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row-reverse {
    flex-direction: row-reverse;
}

.menu-btn {
    display: none;
}

.profileimage {
    width: 100%;
    height: 100%;

}

.object-fit {
    object-fit: cover;
}

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center
}

.flex-wrap {
    flex-wrap: wrap;
}

.bordernone {
    border: none;
}

.border {
    border-radius: 4rem;
}

.borderone {
    border-radius: 1rem;
}

.borderonex {
    border-radius: 0.4rem;
}

.border-radius {
    border-radius: 50%;
}

.iconImage {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.iconImagex {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.width {
    width: 200px;
}

.box {
    background: white;
    margin: 0rem auto;
}

.paddingOne {
    padding: 1rem;
}

.margintopandbottom {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.min-height {
    min-height: 60px;
}

.boxshadow {
    box-shadow: #ffc400e1 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.box-shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Transition:hover {
    transition: all .5s ease-in-out;
    transform: scale(1.2);
}

.hidden {
    transition: all .5s ease-in-out;
}

.changeImage {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1060px) {
    .FirstFont {
        font-size: 20px;
    }



}

@media only screen and (max-width: 568px) {
    
    .BackgroundWhite.flex.paddingOne.borderonex.boxshadow
    {
        flex-wrap: wrap;
       
    }
    .flex.column.marginLeftfive{
        margin-top: 1rem;
       margin-left: 0rem;
       width: 100%;
       text-align: center;
    }
    .menu-btn {

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 10px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        /* border: 3px solid #fff; */
    }

    .menu-btn__burger {
        width: 30px;
        height: 5px;
        background: #ffc400e1;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
    }

    .menu-btn__burger::before,
    .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 5px;
        background: #ffc400e1;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
    }

    .menu-btn__burger::before {
        transform: translateY(-16px);
    }

    .menu-btn__burger::after {
        transform: translateY(16px);
    }

    /* ANIMATION */
    .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }

    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    .hidden {
        display: none;
        transition: all .5s ease-in-out;
    }

    .hidden.open {
        display: block;
        transition: all .5s ease-in-out;
    }

    .iconImage.extra {
        width: 100px;
        height: 100px;
        padding: 0rem;

    }

    .Size {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* flex-wrap: wrap; */
    }

    /* For mobile phones: */
    ul {
        display: flex;
        flex-direction: column;
    }

    li {
        width: 100%;
    }

    .FirstFont {
        font-size: 20px;
    }

    .marginLeft {
        margin-left: 0rem;
    }
}